body {
    background-image: url("wallpaper9.png");
}

#home {
    text-align: center;
    background-color: #afd4f7;
    color: #002649;
    font-size: 50px;
    padding: 100px;
    border-radius: 10px;
    margin: 350px auto 10px;
    width: 50%;
    height: 50%;
    opacity: 0.3;
}